NVM_PATH=~/.nvm/nvm.sh

# Get the current shell
current_shell=$SHELL

if [[ "$current_shell" == */fish ]]; then
  echo "Fish shell detected, which is not compatible with .envrc. Please call 'nvm use'"
elif [ -e $NVM_PATH ]; then
  source $NVM_PATH
  nvm use 22.18.0
else
  echo "Please install nvm to ensure correct node version for project"
fi

layout node

dotenv_if_exists
dotenv_if_exists .env.local
